.lsvi-container .section-eln {
  padding-bottom: 1em;
  border: 0;
  margin-bottom: 1em; }
  .lsvi-container .section-eln .title {
    max-width: 550px;
    margin: 0 auto 3em;
    text-align: center; }
    .lsvi-container .section-eln .title h2 {
      font-family: lato;
      font-weight: 600;
      font-size: 2.4em;
      line-height: 1.2em;
      color: black;
      margin: 0 auto;
      width: auto;
      margin-bottom: .7em; }
    .lsvi-container .section-eln .title h3 {
      font-family: Roboto;
      font-weight: 300;
      font-size: 1.6em;
      line-height: 1.6em;
      margin: 0 auto;
      width: auto; }
    .lsvi-container .section-eln .title .resaltar {
      color: #85144B;
      font-weight: bold; }
    .lsvi-container .section-eln .title img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin: 2em auto; }
    .lsvi-container .section-eln .title p {
      text-align: left;
      max-width: 400px;
      margin: 0 auto 1em;
      font-family: Roboto;
      font-size: 1.2em;
      font-weight: 300; }
  .lsvi-container .section-eln .subtitle2 {
    margin-top: 2em; }
  .lsvi-container .section-eln .tabla-body {
    font-family: "nyt-franklin", arial, sans-serif;
    font-weight: 100;
    max-width: 1000px;
    margin: 0 auto; }
    .lsvi-container .section-eln .tabla-body .pc .categorias {
      display: flex; }
      .lsvi-container .section-eln .tabla-body .pc .categorias .g-category {
        width: 100%;
        padding-bottom: .5em;
        border-bottom: 1px solid #ccc;
        margin-right: 1em;
        font-weight: bold;
        font-size: 1.2em;
        color: black;
        font-family: "Roboto Condensed"; }
      .lsvi-container .section-eln .tabla-body .pc .categorias .vacio {
        width: 15.5%;
        border: 0; }
      .lsvi-container .section-eln .tabla-body .pc .categorias .eln {
        width: 69%; }
      .lsvi-container .section-eln .tabla-body .pc .categorias .presidente1 {
        width: 17%; }
      .lsvi-container .section-eln .tabla-body .pc .categorias .presidente2 {
        width: 18%;
        margin-right: 0; }
    .lsvi-container .section-eln .tabla-body .pc .fotopersonas {
      display: flex;
      justify-content: space-between; }
      .lsvi-container .section-eln .tabla-body .pc .fotopersonas .g-person {
        border-bottom: none;
        width: 100%;
        margin-right: 1em;
        margin-bottom: .5em;
        padding-top: .5em; }
      .lsvi-container .section-eln .tabla-body .pc .fotopersonas .varios {
        margin-right: 0; }
      .lsvi-container .section-eln .tabla-body .pc .fotopersonas .g-image {
        width: 80px;
        height: 80px; }
        .lsvi-container .section-eln .tabla-body .pc .fotopersonas .g-image img {
          border-radius: 50%; }
    .lsvi-container .section-eln .tabla-body .pc .nombrepresonas {
      display: flex;
      justify-content: space-between; }
      .lsvi-container .section-eln .tabla-body .pc .nombrepresonas .g-name {
        width: 100%;
        font-family: Roboto;
        font-weight: normal;
        font-size: 1.1em;
        padding-right: 1em;
        border-bottom: none; }
    .lsvi-container .section-eln .tabla-body .pc .cargo {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1em;
      border-bottom: 1px solid #ccc;
      margin-bottom: 1em; }
      .lsvi-container .section-eln .tabla-body .pc .cargo .g-title {
        font-family: "Roboto Condensed";
        width: 100%;
        color: #a5a5a5;
        padding-right: 1em;
        font-weight: lighter; }
    .lsvi-container .section-eln .tabla-body .pc .intereses {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      margin-bottom: 1em;
      padding-bottom: 1em;
      line-height: 1.5em; }
      .lsvi-container .section-eln .tabla-body .pc .intereses .g-connection {
        width: 100%;
        font-family: Roboto;
        font-weight: 300;
        font-size: 1em;
        padding-right: 1em; }
      .lsvi-container .section-eln .tabla-body .pc .intereses .g-first {
        font-weight: bold;
        font-size: 1.5em;
        color: #85144B;
        font-family: "Roboto Condensed";
        padding-right: .5em; }
