.lsvi-container {

  .section-paz {
    padding-bottom: 1em;

    &:first-child {
      border-top: 0;
      padding-top: 0
    }
    .title {
      &.col-sm-4 {
        padding-left: 15px;
      }

      span {
        height: 2px;
      }

      h2 {
        margin-top: 5px;
      }
    }
  }

  .flex-container {
    display: flex;
    article {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding-left: 6em;
    padding-right: 6em;
    padding-top: 2em;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-top: 1em;
  }

  .video-container embed,
  .video-container iframe,
  .video-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  p {
    font-family: "lato", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0 0 10px;
  }

  .form {
    padding: 0;
    list-style: none;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 15px;
    overflow: hidden;
  }

  .form label {
    margin-top: 0.3em;
    margin-bottom: 0.1em;
    color: #444848;
    font-weight: normal;
    font-size: 80%;
  }

  .form select {
    background: white;
    width: 100%;
    font-size: 0.9em;
    padding: 0.3em 0.5em;
    border: 1px solid #444848;
    -webkit-appearance: none;
    color: #444848;
    font-weight: 100;
  }

  .input-group {
    width: 100%;
    margin: 0.55em 0;
    color: rgb(86, 98, 117);
  }

  .input-group::after {
    content: '';
    position: absolute;
    right: 1em;
    bottom: 0.8em;
    /*triangulo*/
    width: 0.5em;
    height: 0.5em;
    border: 1px solid #333848;
    border-left: 0;
    border-top: 0;
    transform: rotate(45deg);
    pointer-events: none;
  }

  .click {
    background: #376b97;
    border-radius: 3px;
    padding: 7px 10px;
    font-size: 7.3pt;
    font-family: "roboto", sans-serif;
    font-style: medium;
    text-decoration: none;
    color: white;
    text-align: right;
    float: right;
    border: 0;
  }

  .mapimg {
    height: auto;
    margin-top: 35px;
    margin-bottom: -24px;
  }

  .circle {
    border-radius: 50%;
  }

  .circle-buttons {
    margin-top: 1em;
    a {
      font-weight: 400;
      color: #898d90;
    }
    h3 {
      font-weight: 400;
      font-size: 1em;
      font-family: 'Roboto', sans-serif;
      margin: 1.33em 0;
      text-align: center;
    }
  }

  a {
    /*text-align: center;*/
    font-weight: 200;
    text-decoration: none;
    color: #444848;
  }

  ul {
    margin-bottom: 30px;
    padding-left: 0;
  }

  iframe {
    border: 0;
  }
}

@media screen and (max-width: 768px) {
  .lsvi-container {
    .flex-container,
    .flex-container article {
      display: block;
    }
  }
}

@media screen and (max-width: 992px) {
  .section-paz.content-display {
    width: calc(100% - 40px);
  }

  .section-paz .item .article-content h3 {
    width: 100%;
  }
}
